body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 10vw;
    height: 15vw;
}
.none{
    display: none;
}
.jeu section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}
.find{
    opacity: 0;
}